// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$family-sans-serif: "Apercu", "Roboto", sans-serif;
$nav-button-right-spacing: 0px;
$rose:#F5E5E5;
$yellow: #FFE87B;
$purple: #2F1D42;
$navbar-height: 3rem;
$column-gap: 2rem;
$footer-background-color: #0A0909;
$link: rgb(215,33,133);
$grey: #F9F9FA;
$navbar-item-active-color: $link;
$table-cell-border-width: 0 0 0px;
$table-cell-border: none;
$table-background-color: none;
$table-color: white;
$table-cell-padding: 0 0em;

* {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

html,body{
  overflow-x: hidden;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.orange{
  color: orange;
}

.pace .pace-progress {
  background:$link;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

#real-question{
  color: $link !important;
}

.navbar-menu{
  box-shadow: none;
}

#global-nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 110px;
  width: 100%;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.scrolled-nav {
  background-color: $grey !important;
  height: 60px !important;
  line-height: 60px !important;
}

.travel-column{
  padding-right: 1.6em !important;
}

.header{
  color: white !important;
}

.event-name{
  font-weight: 800;
  font-size: 1.3em;
}


.date{
  font-weight: 300;
  font-size: 1.2em;
  color: grey;
}

.main-title{
  bottom: 0 !important;
}

.title{
  font-weight: 900;
}

.logo{
  color: $link;
}

.column-couple-text{
  padding-left: 3em !important;
  padding-top: 5em !important;
  padding-right: 2em !important;
}

.thin{
  font-weight: 300 !important;
  font-size: 1.05em;
}

.thin-grey{
  font-weight: 300 !important;
  font-size: 1.05em;
  color: grey;
}

.thin-same{
  font-weight: 300 !important;
}

.faq-questions{
  font-size: 1.05em !important;
}

.faq-text{
  padding-left: 2em !important;
  margin-top: 0.7em !important;
  font-weight: 300 !important;
  font-size: 1.05em !important;
}

.faq{
  background-image: url("../images/faq-background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.underline{
  border-bottom: 3px solid currentColor;
  padding-bottom: 6px;
}

.upper-subtitle{
  font-weight: 600;
}

h1{
  line-height: 110% !important;
}

p{
  margin-top: 1em !important;
  font-weight: 400;
  color: grey;
  line-height: 1.6em;
}

.the-couple{
  background-image: url("../images/c-background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.schedule{
  background-image: url("../images/c-background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.quiz{
  background-image: url("../images/geometry.png");
}

#proposal{
  border-radius: 10px;
}

#main{
  background-image: url("../images/c-3-color.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#rsvp{
  background-image: url("../images/geometry2.png");
}
.rsvp-label{
  position: relative;
  z-index: 1000;
}

.rsvp-label:after{
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, $yellow 60%, $yellow 88%, transparent 88%);
  content: '';
  z-index: -1000;
  position: absolute;
  height: 1.3em;
  width: 98%;
  bottom: 0em;
  left: 0.3em;
}

.rsvp-label-2{
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, $yellow 55%, $yellow 90%, transparent 90%);
}


.subtitle{
  font-weight: 300 !important;
  color: grey !important;
}

.main-text{
  opacity: 0.7;
  font-size: 5.1em;
  line-height: 0.8em;
  font-weight: 800;
  color: $purple;
}

.main-image{
  overflow: hidden;
}

.heart{
  font-size: 1.3em;
  color: $rose;
}

#footer{
  font-size: 10px !important;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media (orientation: portrait) and (min-width: 600px){
  #main{
    background-image: url("../images/c-3-color-slim-ipad.jpg");
  }
}

@media (orientation: portrait) and (max-width: 600px){
  #main{
    background-image: url("../images/c-3-color-slim.jpg");
  }
}

@media only screen and (max-width: 768px) {
  .column-couple-text{
    padding-left: 2em !important;
    padding-top: 2em !important;
    padding-right: 2em !important;
  }
  .hero-body{
    padding-left: 0em !important;
    padding-top: 0em !important;
    padding-right: 0em !important;
  }
  .the-couple{
    background-image: none;
  }
  .faq{
    background-image: none;
  }
  .schedule{
    background-image: none;
  }
}
@media only screen and (max-width: 1023px) {
  .scrolled-nav {
    height: 10px !important;
  }
}
@import "../../node_modules/bulma/bulma";